.App,
.post-detailes {
  text-align: center;
}

.MuiCardActions-action-81 {
  margin: auto !important;
}

.card {
  margin: auto !important;
  margin-top: 40px !important;
  width: 50%;
  min-width: 275px;
}

.submit-button {
  background-color: grey !important;
  color: white !important;
}
